.container
	.row
		.col-md-6
			.headername
				%span.mychangecolor Naked
				Nail
		.col-md-6
			#floater
				%a#bookbtn{:href => "https://my.setmore.com/bookanappointmentv3.do?uniqueKey=a7b79ae1-8af2-44ce-af18-0204b814dc7f", :role => "button", :target => "_blank"} Book now
.row
	.col-md-12
		%img.img-responsive{:src => "assets/nail.png", :id=>"main_imgs"}
.row
	.col-md-12
		.description
			Do your nails feel
			%span.mychangecolor Naked
			? Let us help you with that. Our service include trimming, shaping, massaging, cleaning, and applying hot towel.
.row
	.col-md-12
		.container
			%table{:style => "width:100%"}
				%tr
					%th
						%p#service_name Nail it - Regular Manicure
					%th
						%p#service_name 15$
				%tr
					%td{:colspan => "2"}
						%p{:style => "font-size: 17px; font-family: open sans-serif;"} Our classic course. First we trim and shape your nails. After that we clean your nail bed, massage it and apply hot towel. And before finally applying the polish we give it another quick clean
				%tr
					%th
						%p#service_name Almost There - No Chip Manicure
					%th
						%p#service_name 40$
				%tr
					%td{:colspan => "2"}
						%p{:style => "font-family: open sans-serif; font-size: 17px;"} If our Nail it procedure doesn't last long enough for you this is the option for you. This service includes all the steps from Nail it and plus the no chip procedure ensuring a long lasting beauty.
				%tr
					%th
						%p#service_name Blossom - Spa Manicure
					%th
						%p#service_name 25$
				%tr
					%td{:colspan => "2"}
						%p{:style => "font-size: 17px; font-family: open sans-serif;"} Feeling weightless like a feather floating on water. Our spa Manicure will make you forget about all of those notifications on your smartphone.
				%tr
					%th
						%p#service_name Glossy - Shining Manicure
					%th
						%p#service_name 10$
				%tr
					%td{:colspan => "2"}
						%p{:style => "font-size: 17px; font-family: open sans-serif;"} This service includes a glossy finish that will leae you starting t your finger in amazement.
				%tr
					%th
						%p#service_name Asap - Polish Change
					%th
						%p#service_name 20$
				%tr
					%td{:colspan => "2"}
						%p{:style => "font-size: 17px; font-family: open sans-serif;"} In a hurry but want to look fresh at work? Then this is the service for you. Steps include trimming, shaping, applying acetone, and give it a good clean before finally applying polish.
				%tr
					%th
						%p#service_name Mini me - Kid's Manicure
					%th
						%p#service_name 10$
				%tr
					%td{:colspan => "2"}
						%p{:style => "font-size: 17px; font-family: open sans-serif;"} It's never too early to give your kid a fabulous makeover for fun. And what better way to start than with a fancy pair of nails?
.row
	.col-md-12
		%img.img-responsive{:src => "assets/pedicure.png", :id=>"main_imgs"}
.row
	.col-md-12
		.description
			Leg is where you carry all of your weight so let us lighten that load for you with our feet pimpin.
.row
	.col-md-12
		.container
			%table{:style => "width:100%"}
				%tr
					%th
						%p#service_name Journey..... No Chip Pedi
					%th
						%p#service_name 45$
				%tr
					%td{:colspan => "2"}
						%p{:style => "font-size: 17px;"} By the time you come back for a another pedicure you will be different person.
				%tr
					%th
						%p#service_name Cabin in the Wood ....... Spa Pedi
					%th
						%p#service_name 45$
				%tr
					%td{:colspan => "2"}
						%p{:style => "font-size: 17px;"} Have you ever walked around after lightish heavy rain and smelled the fresh scent of leafs? Me neither but our cabin in the wood will let you feel the sensation of peace, serenity, and confort.
				%tr
					%th
						%p#service_name Kickin' it ...... Regular Pedi
					%th
						%p#service_name 35$
				%tr
					%td{:colspan => "2"}
						%p{:style => "font-size: 17px;"} Leg is where you carry all of your weight so let us lighten that load for you with our feet pimpin.
				%tr
					%th
						%p#service_name Mini me pedi ....... Kids's pedi
					%th
						%p#service_name 15$
				%tr
					%td{:colspan => "2"}
						%p{:style => "font-size: 17px;"} Other people stepping on your feet? Get a pedicure with us. We can't guarantee if they will stop stepping on your feet is gonna look...
				%tr
					%th
						%p#service_name Asap pedi ....... Polish Change
					%th
						%p#service_name 15$
				%tr
					%td{:colspan => "2"}
						%p{:style => "font-size: 17px;"} Quick time saving polish removal, trim, shape and polish.
.row
	.col-md-12
		%img.img-responsive{:src => "assets/manipedi.png", :id=>"main_imgs"}
.row
	.col-md-12
		.description
			Do you like matching things? if you feel matchie matchie get twinsies
.row
	.col-md-12
		.container
			%table{:style => "width:100%"}
				%tr
					%th
						%p#service_name Wonderland..... Kid Mani  Kid Pedi
					%th
						%p#service_name 25$
				%tr
					%td{:colspan => "2"}
						%p{:style => "font-size: 17px;"} When you walk into your shop We welcome you with open arms
				%tr
					%th
						%p#service_name Eternity....... Nochip Mani  Nochip Pedi
					%th
						%p#service_name 75$
				%tr
					%td{:colspan => "2"}
						%p{:style => "font-size: 17px;"} Have you ever felt like never changing your color? Forever stuck? Wanna wonder what it's like to not wonder about your next visit?
				%tr
					%th
						%p#service_name Tight ...... Spa Mani  Spa Pedi
					%th
						%p#service_name 70$
				%tr
					%td{:colspan => "2"}
						%p{:style => "font-size: 17px;"} You want to feel the love of Mother Natures nurture? Go camping. But our "Tight" deal will making feel more you than ever before.
				%tr
					%th
						%p#service_name Busy bee ....... Nochip  Spa Pedi
					%th
						%p#service_name 75$
				%tr
					%td{:colspan => "2"}
						%p{:style => "font-size: 17px;"} Busy bee need some bee time before you get back in the game? We will make sure you will be ready for the next problem life throw at you.
				%tr
					%th
						%p#service_name Same goal ....... Nochip  Pedi
					%th
						%p#service_name 65$
				%tr
					%td{:colspan => "2"}
						%p{:style => "font-size: 17px;"} Is this what you want?
				%tr
					%th
						%p#service_name Twinsies ....... Regular mani pedi
					%th
						%p#service_name 45$
				%tr
					%td{:colspan => "2"}
						%p{:style => "font-size: 17px;"} Do you like matching things? if you feel matchie get twinsies.
.row
	.col-md-12
		%img.img-responsive{:src => "assets/wax.png", :id=>"main_imgs"}
.row
	.col-md-12
		.description
			Some hair belongs on a body but some hair at the wrong place at wrong time. Hair control WAX!
.row
	.col-md-12
		.container
			%table{:style => "width:100%"}
				%tr
					%th
						%p#service_name Full back
					%th
						%p#service_name 45+
					%th
						%p#service_name Chest
					%th
						%p#service_name 30+
				%tr
					%th
						%p#service_name Chin
					%th
						%p#service_name 10
					%th
						%p#service_name Bikini waxing
					%th
						%p#service_name 30+
				%tr
					%th
						%p#service_name Full arm
					%th
						%p#service_name 45
					%th
						%p#service_name Half arm
					%th
						%p#service_name 25
				%tr
					%th
						%p#service_name Full leg
					%th
						%p#service_name 50
					%th
						%p#service_name Half leg
					%th
						%p#service_name 30
				%tr
					%th
						%p#service_name Under arm
					%th
						%p#service_name 20
					%th
						%p#service_name Lip  Eyebrow
					%th
						%p#service_name 20
.row
	.col-md-12
		%img.img-responsive{:src => "assets/massage.png", :id=>"main_imgs"}
.row
	.col-md-12
		.description
			Flouting like a flower in a river, close your eyes and feel the stress fly away.
.row
	.col-md-12
		.container
			%table{:style => "width:100%"}
				%tr
					%th
						%p#massage Back it! - Chair massage 30 min
					%th
						%p#massage_p 35$
				%tr
					%th
						%p#massage Back it! - Chair massage 25 min
					%th
						%p#massage_p 30$
				%tr
					%th
						%p#massage Back it! - Chair massage 20 min
					%th
						%p#massage_p 25$
				%tr
					%th
						%p#massage Back it! - Chair massage 15 min
					%th
						%p#massage_p 20$
				%tr
					%th
						%p#massage Back it! - Chair massage 10 min
					%th
						%p#massage_p 15$
				%tr
					%th
						%p#massage Sky walk-food massage 30 min
					%th
						%p#massage_p 35$
				%tr
					%th
						%p#massage Sky walk-food massage 25 min
					%th
						%p#massage_p 30$
				%tr
					%th
						%p#massage Sky walk-food massage 20 min
					%th
						%p#massage_p 25$
.row{:style=>"background-color: #ccc;"}
	.col-xs-6
		%h3{:style=>"text-align: center; text-transform: uppercase; margin-top: 10%;"} Location
		%p{:style => "text-align: center; margin-bottom: 10%;"} 2735 N Lincoln Ave Chicago, IL 60614
	.col-xs-6
		%h3{:style=>"text-align: center; text-transform: uppercase; margin-top: 11%;"} Hours
		%p{:style => "text-align: center;"} Mon - Fri 10am-8pm
		%p{:style => "text-align: center;"} Saturday 10am-7pm
		%p{:style => "text-align: center; margin-bottom: 10%;"} Sunday 10am-6pm
.row{:style=>"background-color: #b7b7b7;"}
	.col-md-6{:style=>"padding: 20px;"}
		%h1{:id=>"footertext"} Naked Nail
		%p{:id=>"copyright"} 2017 naked nail salon. all right reserved.
	.col-md-6{:style=>"padding: 20px;"}
		%a#socialbtn{:href => "https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.yelp.com%2Fbiz%2Fnaked-nails-and-spa-chicago-2%3Futm_source%3Dishare&h=ATN4BpyOthHItcrIcQPrEFZptcTWlDG4RnfoEO31GZQfwo-jE3dGAs68RB8iFbSPBROhhe7k6jbqRRCUGSwDnT0ssrXAa1TBDkXRSXF1sTixKASDdyTkHpboeDs5JWpVKy9C6P09z4fqlboBIAkx7w", :style => "float:none;", :target => "_blank"}
			%img{:border => "none", :src => "assets/yelp.png", :style => "width: 90px;"}
		%a#socialbtn{:href => "https://www.facebook.com/Naked-nail-salon-757671347727946/", :style => "float:none;", :target => "_blank"}
			%img{:border => "none", :src => "assets/facebook.png", :style => "width: 90px;"}