<!DOCTYPE html>
<html>
<head>
  <title>Naked Nail</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="assets/mystyle.css">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans+Condensed:300|Roboto+Slab" rel="stylesheet">
</head>
<body>

<%= yield %>

</body>
</html>
